<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<tbody id="itemList">
    {% for jogador in jogadores %}
        <tr>
         <td>{{jogador.nome}}</td>
         <td>{{jogador.pais}}</td>
         <td>{{jogador.categoria}}</td>
         <td>{{jogador.video}}</td>
         <td>
             <div class="actions">
                   <a class="btn-edit" href=""><i class="fas fa-pencil-alt"></i></a>
                  <a class="btn-delete" href=""><i class="fas fa-trash-alt"></i></a>
               </div>
           </td>
       </tr>
       {% endfor %}
<body id="body">
    <p>Olá Igor</p>
</body>
</html>